/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografia e cor base */
body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
}

/* Containers principais */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Botões padrão */
button {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #c2185b;
}

/* Formulários */
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

input, select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #777;
}

/* Responsividade */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  .container {
    padding: 10px;
  }

  button {
    width: 100%;
  }

  form {
    padding: 16px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.6rem;
  }

  header p {
    font-size: 1rem;
  }

  input, select, textarea {
    font-size: 0.9rem;
  }

   .botao-compartilhar {
    font-size: 0.95rem;
    padding: 10px 16px;
    width: fit-content;
    margin: auto;
  }
}

@media (max-width: 900px) {
  .grid-produtos {
    grid-template-columns: repeat(2, 1fr); /* 2 cards por linha em tablets */
  }
}

@media (max-width: 600px) {
  .grid-produtos {
    grid-template-columns: 1fr; /* 1 card por linha em celulares */
  }
}
